.wrapper {
    display: grid;
    /* grid: 1fr 1fr / 1fr 1fr; */
    grid-gap: 0.4em;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.item-1 {
    background-color: greenyellow;
    text-align: center;
}

.item-2 {
    background-color: rgb(255, 47, 47);
    text-align: center;
}

.item-3 {
    background-color: rgb(47, 68, 255);
    text-align: center;
}

.item-4 {
    background-color: rgb(255, 47, 245);
    text-align: center;
    
}

.item-5 {
    background-color: rgb(255, 200, 47);
    text-align: center;
}

.item-6 {
    background-color: rgb(47, 248, 255);
    text-align: center;
m